h3 {
    color: red;
    font-family: Consolas
}

input {
    background-color: beige;
    color: black;
}

button{
    background-color: red;
    color: black;
}

#btn0{
    background-color: red;
    color: black
}

